<!-- ======================= Start Freelancer Banner ===================== -->
<div class="freelancer banner" style="background:url(assets/image/banner.jpg) no-repeat">
    <div class="container">
        <div class="col-md-6 col-sm-6">
            <div class="caption">
                <h2>TU EXPERTO EN TECNOLOGÍA</h2>
                <p>PUBLICACIONES RELACIONADAS A LA TECNOLOGÍA COMO PHP, PYTHON, .NET, FRONT-END, ENTRE OTROS.</p>
                <form id="subscriberBannerForm" method="post">
                    <div class="input-group">
                        <input type="text" name="email" id="email" class="form-control no-br" placeholder="Enter email">
                        <span class="input-group-btn">
                          <button type="submit" class="btn banner-btn">Suscríbete</button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ======================= End Banner ===================== -->

<!-- ===================== Blogs In Grid ===================== -->
<section class="padd-top-0">
    <div class="container">
        <div class="row mrg-top-5">
            <div class="col-md-10 col-md-offset-1">
                <div class="heading">
                    <h2>Cursos <span class="theme-cl">disponibles</span></h2>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
<!-- ===================== End Blogs In Grid ===================== -->
<!-- ===================== Blogs In Grid ===================== -->
<section class="padd-top-0">
    <div class="container">
        <div class="row mrg-top-5">
            <div class="col-md-10 col-md-offset-1">
                <div class="heading">
                    <h2>Ultimas <span class="theme-cl">Entradas</span></h2>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
<!-- ===================== End Blogs In Grid ===================== -->