<!-- ================= footer start ========================= -->
<footer class="footer dark-bg">
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h4>Sitio</h4>
                        <ul>
                            <li><a href="/acerca-de">Acerca de</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4>Categorías</h4>
                        <ul>
                            <li><a href="/topic/desarrollo-web/">Desarrollo Web</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4>últimas Entradas</h4>
                        <ul>
                            <li><a href="/mi-increible-post-de-symfony">Mi increible post de symfony</a></li>
                            <li><a href="/mi-increible-post-de-php">Mi increible post de php</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-5">
                <h4>Suscríbete!</h4>
                <!-- Newsletter -->
                <form id="subscriberForm" method="post">
                    <div class="input-group">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email">
                        <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
            </span>
                    </div>
                </form>

                <!-- Social Box -->
                <div class="f-social-box">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p>&copy; Copyright 2018 <a href="/">Julio Martínez</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>